# ======================================================
# Flutter / Dart
# ======================================================

**/doc/api/
**/ios/Flutter/.last_build_id

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

.pub/
.pub-cache/

build/
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# ======================================================
# Android
# ======================================================

/android/app/debug
/android/app/profile
/android/app/release

# ======================================================
# iOS / macOS
# ======================================================

DerivedData/

# ======================================================
# IntelliJ / Android Studio
# ======================================================

.idea/
*.iml
*.ipr
*.iws

# ======================================================
# VS Code
# ======================================================

.vscode-test/

# Uncomment if you don't want workspace settings in git
# .vscode/

# ======================================================
# System files
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# Logs
# ======================================================

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================================================
# Node.js / Firebase Functions
# ======================================================

node_modules/
functions/node_modules/

# Firebase local cache
.firebase/


# Local development files
.dart-tool-home/
.agents/
skills-lock.json

# ======================================================
# Environment files
# ======================================================

.env
.env.*
!.env.example

# ======================================================
# Temporary files
# ======================================================

*.swp
*.swo
*.tmp
*.temp

# ======================================================
# Misc
# ======================================================

.history
.svn/
.atom/
.build/
.buildlog/
.swiftpm/
migrate_working_dir/